<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- it is the path of xml file which is to be parse-->
    <add key="XmlPath1" value="C:\FilesForXml\catalog.rdf"/>
    <!-- path of the out put text file -->
    <add key="FoundByIndex" value="C:\FilesForXml\booksFoundByIndex.txt"/>
    <add key="FoundByTitle" value="C:\FilesForXml\booksFoundByTitle.txt"/>
  </appSettings>
</configuration>